body {
    margin: 0 auto;
    padding: 0 auto;
}

.heading {
    background-color: #4aaaa5;
    color: #cccccc;
    width: 200px;
    margin-left: 100px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

button {
    float: right;
}
